body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: #ffffff;
    transition: all 0.9s;
}

*{
    margin: 0px;
    padding: 0px;
}

.menu_top{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 60px;
    width: 100%;
    background-color: #151718;
    z-index: 100;
}

.menu_left{
    position: absolute;
    left: 0%;
    top: 60px;
    height: 100%;
    width: 60px;
    background-color: #202125;
    z-index: 99;
}

.center_top_menu{
    position: relative;
    float: right;
    top: 15px;
    left: -15px;
}

.img_left1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 22px;
    filter: invert(100%); 
}

.hover_img{
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    float: left;
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;
}

.hover_img:hover{
    opacity: 0.9;
}

.button_reg{
    background-color: #dcc071;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    float: right;
    position: relative;
    top: 10px;
    left: -35px;
    transition: all 0.3s;
}

.button_reg:hover{
    background-color: #4caf50;
    color: #ffffff;
}

.hover_img1{
    position: relative;
    float: left;
    height: 60px;
    width: 60px;
    background-color: #202125;
    border-bottom: 1px solid #ffffff21;
    transition: all 0.3s;
    cursor: pointer;
}

.hover_img1:hover{
    opacity: 0.5;
}

.img_chenge{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
}

.page_chenge{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
}

.hover_page_chenge{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid #ffffff00;
    left: 7px;
    top: 10px;
}

.hover_page_chenge:hover{
    border: 2px solid #ffffff67;
    background-color: #4caf50;
}

.menu_left_1,
.menu_left_2 {
    position: absolute;
    left: 0;
    width: 60px;
    overflow-x: hidden;
    overflow-y: hidden; /* Спочатку ховаємо панель прокрутки */
    transition: overflow-y 0.3s ease; /* Додаємо плавний перехід для панелі прокрутки */
}

.menu_left_2 {
    height: 30%;
    background-color: #202125;
    border-top: 1px solid #ffffff21;
    z-index: 98;
    bottom: 0;
}

.menu_left_1 {
    height: 70%;
    top: 0;
    background-color: #202125;
}

.menu_left_1:hover,
.menu_left_2:hover {
    overflow-y: auto; /* Показуємо панель прокрутки при наведенні */
}

.menu_left_1::-webkit-scrollbar,
.menu_left_2::-webkit-scrollbar {
    width: 8px; /* Ширина панелі прокрутки */
}

.menu_left_1::-webkit-scrollbar-thumb,
.menu_left_2::-webkit-scrollbar-thumb {
    background-color: #3a3b42; /* Колір полоси прокрутки */
    border-radius: 10px;
}

.menu_left_1::-webkit-scrollbar-track,
.menu_left_2::-webkit-scrollbar-track {
    background-color: #171818; /* Колір фону панелі прокрутки */
}


.hover_page_chenge1{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-top: 5px;
    left: 7px;
    top: 10px;
}

.settings_left{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 200px;
    background-color: #232328;
}

.settings_left {
    overflow-y: hidden;
    transition: overflow-y 0.3s ease; 
}

.settings_left:hover {
    overflow-y: auto; 
}

.settings_left::-webkit-scrollbar {
    width: 8px; 
    transition: width 0.3s; 
}

.settings_left::-webkit-scrollbar-thumb {
    background-color: #3a3b42; 
    border-radius: 10px;
    transition: background-color 0.3s; 
}

.settings_left::-webkit-scrollbar-track {
    background-color: #171818; 
    transition: background-color 0.3s; 
}

.settings_ring {
    position: absolute;
    left: 200px;
    top: 0;
    height: 100%;
    width: calc(100% - 220px);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-wrap: break-word; 
}

.settings_ring::-webkit-scrollbar {
    width: 8px;
}

.settings_ring::-webkit-scrollbar-thumb {
    background-color: #3a3b42;
    border-radius: 10px;
}

.settings_ring::-webkit-scrollbar-track {
    background-color: #171818;
}

.history_div{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50px;
    background-color: #1d1d22;
}

.history_text{
    position: relative;
    float: left;
    color: #ffffffc5;
    font-weight: bold;
    top: 15px;
    left: 15px;
    font-size: 17px;
}

.history_button{
    position: relative;
    top: -5px;
}

.bac_next_menu{
    background-color: #19191e;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 50px;
    width: 100px;
    border-top-left-radius: 5px;
}

.center_bac_nex{
    position: relative;
    top: 10px;
    left: 5px;
}

#did1,
#did2,
#did3,
#did4,
#did5,
#did6,
#did7{
    display: none;
}

.div{
    font-weight: bold;
}

.color_text{
    color: #ffffff;
    font-size: 18px;
}

.color_text1{
    color: #ffffffbc;
    font-size: 17px;
}

.div_tontent_holow{
    position: relative;
    background-color: #141417;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: #ffffffcf;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 20px;
}

.div_tontent{
    padding: 10px;
    position: relative;
    background-color: #141417;
    top: 10px;
}

.color_text2{
    color: #ffffffbc;
    font-size: 16px;
}

.black_button:hover{
    background-color: #dcc071;
}

.white_button{
    border: none;
    border-radius: 5px;
    background-color: #dcc071;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s;
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    position: relative;
    margin-left: 5px;
}

.white_button:hover{
    background-color: #4caf50;
}

.fon_global{
    overflow-y: auto;
}

.baner {
    position: absolute;
    width: 100%;
    height: 220px;
    object-fit: cover; 
    filter: brightness(50%);
}

.baner_text {
    position: relative;
    text-align: center;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.text_baner{
    font-size: 34px;
    color: #4caf50;
    font-weight: bold;
}

.text_baner_2{
    font-size: 23px;
    color: #e2e2e2;
    font-weight: bold;
}

.content_div_freme{
    position: relative;
    top: 180px;
    left: 10px;
}

.div_tontent_2{
    padding: 10px;
    position: relative;
    background-color: #1b1c24;
    top: 19.5px;
}

.blod{
    font-weight:bold;
}

.fonsize_18{
    font-size: 18px;
}

.img_marcer_top{
    position: relative;
    height: 23px;
    top: 2px;
}

.top_text{
    position: relative;
    top: -2px;
}

.color_fon_1{
    background-color: #1b1c24;
}

.img_swiper{
    height: 200px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.swiper-button-nex,
.swiper-button-pre{
    position: relative;
    margin-left: 10px;
    float: left;
    height: 27px;
    width: 27px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid #ffffffd7;
    opacity: 0.6;
}

.swiper-button-nex:hover,
.swiper-button-pre:hover{
    opacity: 1;
}

.img_swiper_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18px;
    filter: invert(100%); 
}

.div_bac_nex{
    position: relative;
    float: right;
    left: -50px;
}

.img_swiper:hover{
    transform: scale(1.1); 
}

.text_batton{
    font-weight: bold;
    color: #4caf50;
    font-size: 15px;
    position: relative;
    left: 5px;
}

.maker{
    font-weight: bold;
    color: #ffffffc3;
    font-size: 13px;
    position: relative;
    left: 5px;
}


  

.input_game{
    position: relative;
    float: left;
    border: none;
    padding: 13px;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 80%; 
    background-color: #22252f;
    color: #ffffffc9;
    font-weight: bold;
    outline: none;
}

.swiper_div_top{
    position: relative;
    top: 70px;
}

.swiper_div_top_2{
    position: relative;
    top: 320px;
    left: 10px;
    z-index: 2;
}

.Find{
    border: none;
    position: relative;
    float: left;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffffd4;
    font-weight: bold;
    padding: 10px;
    font-size: 17px;
    left: 10px;
    top: 2px;
    transition: all 0.3s;
}

.Find:hover{
    background-color: #dcc071;
}

.cursor{
    cursor: pointer;
}

.all_game {
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
  }

.top_100{
    top: -15px;
}

.all_img_game{
    height: 200px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 15px;
    left: -15px;
    position: relative;
    top: 10px;

}

.all_img_game:hover{
    transform: scale(1.1); 
}

.swiper_div_top_3{
    position: relative;
    left: 10px;
    z-index: 2;
}

.menu_left_2_div{
    position: fixed;
    left: 0%;
    top: 60px;
    height: 100%;
    width: 200px;
    background-color: #202125;
    z-index: 99;
    display: none;
}

.hr_1{
    width: 100%;
    position: relative;
    top: 4px;
}

.button_middle_img{
    height: 25px;
}

.div_middle_img{
    position: relative;
    margin-left: 10px;
    border: none;
    left: -10px;
    border-radius: 10px;
    background-color: #25252c;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.div_middle_img:hover{
    opacity: 0.6;
}

.input_text_reg{
    border: none;
    position: relative;
    width: 350px;
    background-color: #25252c;
    color: #ffffffc2;
    border-radius: 10px;
    padding: 15px;
    outline: none;
}

.input_div{
    width: 60%; 
    margin: 0 auto;
}

.div_tontent_3{
    padding: 10px;
    position: relative;
    background-color: #1b1c24;
    top: 19.5px;
    display: flex;
    flex-wrap: wrap;
}

.music_control{
    position: fixed;
    background-color: #282a35;
    bottom: 0;
    height: 130px;
    width: 100%;
}

.short_img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.short_img_user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
}

.text_menu_setings{
    top: 16px;
    position: relative;
    float: left;
    left: 18px;
}

.img_setings_menu{
    height: 23px;
    filter: invert(60%); 
    float: left;
    top: 13px;
    position: relative;
    left: 10px;
}

.chenge_settings:hover{
    background-color: #292930;
}

.chenge_settings {
    width: 100%;
    height: 50px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s; 
    color: #ffffffaa;
}

.black_button{
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s;
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    position: relative;
    margin-left: 5px;
}
.button_class_old {
    position: relative;
    float: left;
    border: none;
    background-color: #4caf50;
    color: #ffffff;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.button_class_old:hover{
    opacity: 0.7;
}

.div_button_old{
    position: absolute;
    bottom: 20px;
    right: 20px; 
}

.bakdraun{
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 0;
    height: 120vh;
    width: 100%;
}

.fon_img_settings {
    height: 150px;
    width: auto; 
    position: relative;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s; 
    cursor: pointer;
    border-radius: 10px;
}

.fon_img_settings:hover {
    transform: scale(1.1); 
}

.shop_menu{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #202125;
}

.senter_shop_text{
    position: relative;
    float: left;
    left: 20px;
    top: 25px;
}

.text_chop{
    font-weight: bold;
    color:#4caf50;
    font-size: 18px;
    position: relative;
    float: left;
    margin-left: 30px;
    left: -35px;
    top: -10px;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ffffff00;
}

.text_chop:hover{
    border: solid 1px #ffffffd1;
}

.div_shop{
    position: absolute;
    right: 40px;
    top: 20px;
}

.text2_shop{
    position: relative;
    float: left;
    margin-left: 15px;
    color:#ffffffbe;
    font-weight: bold;
    font-size: 17px;
}

.div_shop_div {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll; 
    top: 80px;
}


